In [1]:
import pandas as pd

In [10]:
FILE_NAME = "/cs/labs/michall/roeizucker/IIH/PWAS/ukbb_dataset_updated.csv"
RESULT_FILE_NAME = "/cs/labs/michall/roeizucker/IIH/PWAS/ukbb_dataset_reduced.csv"

In [13]:
df = pd.read_csv(FILE_NAME)

0.0    292012
1.0       173
Name: updated_Both, dtype: int64

In [15]:
print(df["updated_Both"].value_counts())
print(df["updated_PAP"].value_counts())
print(df["updated_IIH"].value_counts())
df

0.0    292012
1.0       173
Name: updated_Both, dtype: int64
0.0    292101
1.0        84
Name: updated_PAP, dtype: int64
0.0    292080
1.0       105
Name: updated_IIH, dtype: int64

,sample_index,eid,PAP,IIH,both,PAP_F,IIH_F,both_F,PAP_M,IIH_M,...,batch_UKBiLEVEAX_b9,updated_PAP,updated_IIH,updated_Both,updated_PAP_F,updated_IIH_F,updated_Both_F,updated_PAP_M,updated_IIH_M,updated_Both_M
0,0,5895328,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
1,1,5764375,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,2,5503073,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
3,3,2563626,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
4,4,4980832,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333627,502513,2243883,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
333628,502515,3570729,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
333629,502516,1663456,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
333630,502517,3118989,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
333631,502519,4573284,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [9]:
df["PAP_reduced"] = ((df["updated_PAP"] == 1) & (df["updated_IIH"] == 0)).astype(int)
df["IIH_reduced"] = ((df["updated_IIH"] == 1) & (df["updated_PAP"] == 0)).astype(int)

In [11]:
df.to_csv(RESULT_FILE_NAME)

In [12]:
RESULT_FILE_NAME

'/cs/labs/michall/roeizucker/IIH/PWAS/ukbb_dataset_reduced.csv'