In [18]:
import pandas as pd

# remove caucasion from df

In [3]:
full_df = pd.read_csv("/cs/labs/michall/roeizucker/non_caucasian_run/ukbb_dataset.csv")
only_caucasion = pd.read_csv("/cs/labs/michall/roeizucker/non_caucasian_run/ukbb_dataset2.csv")

In [10]:
non_caucasion = full_df[~full_df.eid.isin(only_caucasion["eid"])]

In [12]:
non_caucasion

,sample_index,eid,F329,F329_F,F329_M,H26,H26_F,H26_M,H269,H269_F,...,batch_UKBiLEVEAX_b10,batch_UKBiLEVEAX_b11,batch_UKBiLEVEAX_b2,batch_UKBiLEVEAX_b3,batch_UKBiLEVEAX_b4,batch_UKBiLEVEAX_b5,batch_UKBiLEVEAX_b6,batch_UKBiLEVEAX_b7,batch_UKBiLEVEAX_b8,batch_UKBiLEVEAX_b9
5,5,5427659,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,11,5761858,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,13,1842631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,15,4347495,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,16,1110672,1.0,NaN,1.0,0.0,NaN,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400686,502463,5445956,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
400691,502471,3226893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
400709,502495,1210318,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
400714,502500,3814605,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
400717,502505,2031201,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
non_caucasion.to_csv("/cs/labs/michall/roeizucker/non_caucasian_run/ukbb_dataset_non_caucasion.csv")

In [28]:
for i in range(17597,17780):
    print(f"${i}", end=' "," ')

$17597 "," $17598 "," $17599 "," $17600 "," $17601 "," $17602 "," $17603 "," $17604 "," $17605 "," $17606 "," $17607 "," $17608 "," $17609 "," $17610 "," $17611 "," $17612 "," $17613 "," $17614 "," $17615 "," $17616 "," $17617 "," $17618 "," $17619 "," $17620 "," $17621 "," $17622 "," $17623 "," $17624 "," $17625 "," $17626 "," $17627 "," $17628 "," $17629 "," $17630 "," $17631 "," $17632 "," $17633 "," $17634 "," $17635 "," $17636 "," $17637 "," $17638 "," $17639 "," $17640 "," $17641 "," $17642 "," $17643 "," $17644 "," $17645 "," $17646 "," $17647 "," $17648 "," $17649 "," $17650 "," $17651 "," $17652 "," $17653 "," $17654 "," $17655 "," $17656 "," $17657 "," $17658 "," $17659 "," $17660 "," $17661 "," $17662 "," $17663 "," $17664 "," $17665 "," $17666 "," $17667 "," $17668 "," $17669 "," $17670 "," $17671 "," $17672 "," $17673 "," $17674 "," $17675 "," $17676 "," $17677 "," $17678 "," $17679 "," $17680 "," $17681 "," $17682 "," $17683 "," $17684 "," $17685 "," $17686 "," $17687 "," $17688 "," $17689 "," $17690 "," $17691 "," $17692 "," $17693 "," $17694 "," $17695 "," $17696 "," $17697 "," $17698 "," $17699 "," $17700 "," $17701 "," $17702 "," $17703 "," $17704 "," $17705 "," $17706 "," $17707 "," $17708 "," $17709 "," $17710 "," $17711 "," $17712 "," $17713 "," $17714 "," $17715 "," $17716 "," $17717 "," $17718 "," $17719 "," $17720 "," $17721 "," $17722 "," $17723 "," $17724 "," $17725 "," $17726 "," $17727 "," $17728 "," $17729 "," $17730 "," $17731 "," $17732 "," $17733 "," $17734 "," $17735 "," $17736 "," $17737 "," $17738 "," $17739 "," $17740 "," $17741 "," $17742 "," $17743 "," $17744 "," $17745 "," $17746 "," $17747 "," $17748 "," $17749 "," $17750 "," $17751 "," $17752 "," $17753 "," $17754 "," $17755 "," $17756 "," $17757 "," $17758 "," $17759 "," $17760 "," $17761 "," $17762 "," $17763 "," $17764 "," $17765 "," $17766 "," $17767 "," $17768 "," $17769 "," $17770 "," $17771 "," $17772 "," $17773 "," $17774 "," $17775 "," $17776 "," $17777 "," $17778 "," $17779 ","