In [2]:
import pandas as pd
from os import walk
from shutil import copyfile

In [18]:
col_list = ["gene_index","uniprot_id"]

dict_frame = pd.read_csv('/cs/labs/michall/roeizucker/virt_env_install_test/results/Stroke.csv',usecols=col_list)
translator = dict_frame.set_index('gene_index').T.to_dict('list')
print(translator[5416][0])

P55075

In [31]:
mypath = '/cs/labs/michall/roeizucker/virt_env_install_test/ukbb_imputation_variants_per_gene'
new_path = '/cs/labs/michall/roeizucker/pwas_catalog'
file_names = next(walk(mypath), (None, None, []))[2]  # [] if no file
for name in file_names:
    num = int(name.replace('.csv',''))
    new_name = translator[num][0] + '.csv'
#     print((mypath + "/" + name, new_path + "/" + new_name))
    copyfile(mypath + "/" + name, new_path + "/" + new_name)

In [6]:
excell_file = pd.ExcelFile('/cs/labs/michall/roeizucker/pwas_catalog/Datasets used in Figure 3.xlsx')

In [12]:
df1 = pd.read_excel(excell_file, 'Figure 3 (C)_1000GP')
df1

                             Indel  Relative indel location
0       1 1115544 rs568320285 A AC                 0.222076
1       1 1168239 rs533071750 C CG                 0.221625
2       1 1181944 rs571313759 T TG                 0.152510
3      1 1219362 rs574817957 CCA C                 0.191524
4      1 1221488 rs555847974 CAA C                 0.401151
...                            ...                      ...
3521  X 152957656 rs199498083 C CA                 0.964072
3522            X 153247946 . CT C                 0.628723
3523            X 153533349 . TG T                 0.123794
3524            X 153880603 . GC G                 0.639476
3525            X 155231142 . GT G                 0.075787

[3526 rows x 2 columns]