In [3]:
import pandas as pd
import os

In [5]:
PROJECT_PATH = "/sci/nosnap/michall/roeizucker/Hypothyroidism_hackaton"
SOURCE_DATASET_FILE = "ukbb_dataset.csv"
RESULT_FILE = "ukbb_dataset_filtered.csv"
PHENOTYPES = ["E03","E04","E05","E06","E07"]

In [4]:
dataset_file = os.path.join(PROJECT_PATH,SOURCE_DATASET_FILE)
phenotypes_dataset = pd.read_csv(dataset_file)

In [10]:
phenotypes_dataset.loc[phenotypes_dataset["E01"] == 0]

,sample_index,eid,E01,E02,E03,E04,E05,E06,E07,E01_F,...,batch_UKBiLEVEAX_b1,batch_UKBiLEVEAX_b10,batch_UKBiLEVEAX_b11,batch_UKBiLEVEAX_b3,batch_UKBiLEVEAX_b4,batch_UKBiLEVEAX_b5,batch_UKBiLEVEAX_b6,batch_UKBiLEVEAX_b7,batch_UKBiLEVEAX_b8,batch_UKBiLEVEAX_b9
0,0,5895328,False,False,False,False,False,False,False,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,5764375,False,False,False,False,False,False,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,5503073,False,False,False,False,False,False,False,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2563626,False,False,False,False,False,False,False,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,4980832,False,False,False,False,False,False,False,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333627,502513,2243883,False,False,False,False,False,False,False,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333628,502515,3570729,False,False,False,False,False,False,False,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333629,502516,1663456,False,False,False,False,False,False,False,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333630,502517,3118989,False,False,False,False,False,False,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333631,502519,4573284,False,False,False,False,False,False,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0