In [21]:
import pandas as pd
import os

In [35]:
PROJECT_PATH = "/cs/labs/michall/roeizucker/non_caucasian_run_2"
FILE_NAME = "ukbb_dataset.csv"
NEW_FILE_NAME = "ukbb_dataset2.csv"

In [23]:
file_path = os.path.join(PROJECT_PATH,FILE_NAME)
df = pd.read_csv(file_path)

In [26]:
df["I10_3001"] = None
df["I10_M_3001"] = None
df["I10_F_3001"] = None

In [27]:
df

,sample_index,eid,I10,I10_F,I10_M,Height,ehtnic_background,ehtnic_background_set,const,sex,...,batch_UKBiLEVEAX_b11,batch_UKBiLEVEAX_b2,batch_UKBiLEVEAX_b3,batch_UKBiLEVEAX_b4,batch_UKBiLEVEAX_b5,batch_UKBiLEVEAX_b6,batch_UKBiLEVEAX_b7,batch_UKBiLEVEAX_b8,batch_UKBiLEVEAX_b9,I10_3001
0,0,5895328,0.0,NaN,0.0,174.0,1001.0,{1001.0},1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None
1,1,5764375,0.0,0.0,NaN,163.0,1001.0,{1001.0},1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None
2,2,5503073,1.0,NaN,1.0,184.0,1001.0,{1001.0},1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None
3,3,2563626,1.0,NaN,1.0,167.0,1001.0,{1001.0},1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None
4,4,4980832,0.0,NaN,0.0,192.0,1001.0,{1001.0},1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400725,502513,2243883,1.0,NaN,1.0,169.0,1001.0,{1001.0},1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None
400726,502515,3570729,0.0,NaN,0.0,174.0,1001.0,{1001.0},1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None
400727,502516,1663456,0.0,NaN,0.0,165.0,1001.0,{1001.0},1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None
400728,502517,3118989,1.0,1.0,NaN,157.0,1001.0,{1001.0},1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None
400729,502519,4573284,0.0,0.0,NaN,169.0,1001.0,{1001.0},1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None

In [34]:
# df["ehtnic_background"].value_counts()
df.loc[(df["ehtnic_background"] == 3001.0) & (df["I10"] == 1.0), "I10_3001"] = 1.0
df.loc[(df["ehtnic_background"] == 3001.0) & (df["I10"] == 0.0), "I10_3001"] = 0.0

# df[(df["ehtnic_background"] == 3001.0) & (df["I10"] == 1.0)]["I10_3001"] = 1.0
# df
# df[df["ehtnic_background"] == 3001.0]

,sample_index,eid,I10,I10_F,I10_M,Height,ehtnic_background,ehtnic_background_set,const,sex,...,batch_UKBiLEVEAX_b11,batch_UKBiLEVEAX_b2,batch_UKBiLEVEAX_b3,batch_UKBiLEVEAX_b4,batch_UKBiLEVEAX_b5,batch_UKBiLEVEAX_b6,batch_UKBiLEVEAX_b7,batch_UKBiLEVEAX_b8,batch_UKBiLEVEAX_b9,I10_3001
34,41,3239113,1.0,NaN,1.0,160.0,3001.0,{3001.0},1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
63,78,1704075,0.0,NaN,0.0,170.0,3001.0,{3001.0},1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
203,262,3490681,1.0,NaN,1.0,179.0,3001.0,{3001.0},1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
205,264,4530633,0.0,NaN,0.0,159.0,3001.0,{3001.0},1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
297,381,5334615,1.0,NaN,1.0,184.0,3001.0,{3001.0},1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400497,502234,3566976,0.0,NaN,0.0,172.0,3001.0,{3001.0},1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
400555,502306,2759868,0.0,0.0,NaN,167.0,3001.0,{3001.0},1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
400580,502333,2135321,0.0,0.0,NaN,154.0,3001.0,{3001.0},1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
400691,502471,3226893,NaN,NaN,NaN,162.0,3001.0,{3001.0},1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None
400717,502505,2031201,1.0,1.0,NaN,142.0,3001.0,{3001.0},1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1