In [68]:
import pandas as pd
from pandas_plink import read_plink
from pandas_plink import get_data_folder
from os.path import join
import pandas_plink as pdp

In [2]:
TEST_BIM_PATH = "/cs/labs/michall/roeizucker/plink_results/reduced_snps2/small_ch1.bim"
TEST_BED_PATH = "/cs/labs/michall/roeizucker/plink_results/reduced_snps2/small_ch1.bed"
TEST_FAM_PATH = "/cs/labs/michall/roeizucker/plink_results/reduced_snps2/small_ch1.fam"
PLINK_PATH = "/cs/usr/nadavb/third_party/plink2"

In [3]:
!head /cs/labs/michall/roeizucker/plink_results/reduced_snps2/small_ch1.bim

1	rs568964432	0	69224	A	T
1	rs140739101	0	69428	T	G
1	rs568226429	0	69487	G	A
1	rs150690004	0	69496	G	A
1	rs553724620	0	69521	T	A
1	rs539483321	0	69541	A	G
1	rs556374459	0	69555	T	G
1	rs2531267	0	69569	T	C
1	rs141776804	0	69590	T	A
1	rs376022826	0	69610	C	T

## reads a bim/bed/fam trio

In [4]:
a = pdp.read_plink1_bin(TEST_BED_PATH,TEST_BIM_PATH,TEST_FAM_PATH,verbose=False)

# (bim, fam, bed) = read_plink(join(get_data_folder(), "chr*.bed"),
#                              verbose=False)

In [77]:
eid_vals_in_files =  list(a['iid'].values)

In [88]:
eid_vals_in_files_set = set(eid_vals_in_files)

## reduce a phenotype for non

In [93]:
file = '/cs/labs/michall/roeizucker/10krun/runs/48:59/ukbb_dataset.csv'
target_file = "/cs/labs/michall/roeizucker/SKAT_experiments/I10_data.csv"
target_dir = "/cs/labs/michall/roeizucker/SKAT_experiments"

In [91]:
df = pd.read_csv(file)
df = df[df['eid'].isin(eid_vals_in_files)]

df['sort_key'] = df['eid'].astype("str").apply(lambda x: eid_vals_in_files.index(x) if x in eid_vals_in_files_set else float('inf'))

# Sort the DataFrame based on the values in the 'sort_key' column
df = df.sort_values(by='sort_key')

In [92]:
df

,sample_index,eid,F329,F329_F,F329_M,H26,H26_F,H26_M,H269,H269_F,...,batch_UKBiLEVEAX_b10,batch_UKBiLEVEAX_b11,batch_UKBiLEVEAX_b3,batch_UKBiLEVEAX_b4,batch_UKBiLEVEAX_b5,batch_UKBiLEVEAX_b6,batch_UKBiLEVEAX_b7,batch_UKBiLEVEAX_b8,batch_UKBiLEVEAX_b9,sort_key
272747,411779,1688461,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
233466,352393,5444187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
171170,258733,2676900,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,0,0,0,0,0,0,0,0,0,2
99701,150866,3709342,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,0,0,0,0,0,0,0,0,0,3
178778,270220,3769417,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,0,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212124,320265,1176921,0.0,0.0,NaN,1.0,1.0,NaN,1.0,1.0,...,0,1,0,0,0,0,0,0,0,487364
174643,263982,1339882,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,...,0,1,0,0,0,0,0,0,0,487365
219102,330791,1470962,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,...,0,1,0,0,0,0,0,0,0,487366
154715,233981,1193917,0.0,0.0,NaN,1.0,1.0,NaN,1.0,1.0,...,0,1,0,0,0,0,0,0,0,487381
85382,129496,1196108,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,0,1,0,0,0,0,0,0,0,487388

In [96]:
df[["eid","I10"]].dropna(subset=['I10']).to_csv(target_file,index=False)

In [ ]:
for i in range(100000):
    !echo

## reduce bim/bed/fam trio files for a single chromosome using plink

In [97]:
! {PLINK_PATH} --bim {TEST_BIM_PATH} --fam {TEST_FAM_PATH} --bed {TEST_BED_PATH} --keep-fam /cs/labs/michall/roeizucker/SKAT_experiments/I10_eid_notNA.txt --make-bed --out /cs/labs/michall/roeizucker/SKAT_experiments/mydata_filtered

PLINK v2.00a2.3LM 64-bit Intel (24 Jan 2020)   www.cog-genomics.org/plink/2.0/
(C) 2005-2020 Shaun Purcell, Christopher Chang   GNU General Public License v3
Logging to /cs/labs/michall/roeizucker/SKAT_experiments/mydata_filtered.log.
Options in effect:
  --keep-fam /cs/labs/michall/roeizucker/SKAT_experiments/I10_eid_notNA.txt
  --make-bed
  --out /cs/labs/michall/roeizucker/SKAT_experiments/mydata_filtered
  --pgen /cs/labs/michall/roeizucker/plink_results/reduced_snps2/small_ch1.bed
  --psam /cs/labs/michall/roeizucker/plink_results/reduced_snps2/small_ch1.fam
  --pvar /cs/labs/michall/roeizucker/plink_results/reduced_snps2/small_ch1.bim

Start time: Sun Jan  1 17:09:59 2023
128748 MiB RAM detected; reserving 64374 MiB for main workspace.
Using up to 8 compute threads.
487409 samples (264362 females, 223033 males, 14 ambiguous; 487409 founders)
loaded from
/cs/labs/michall/roeizucker/plink_results/reduced_snps2/small_ch1.fam.
64451 variants loaded from
/cs/labs/michall/roeizucker/plink_results/reduced_snps2/small_ch1.bim.
Note: No phenotype data present.
--keep-fam: 274215 samples remaining.
274215 samples (148870 females, 125345 males; 274215 founders) remaining after
main filters.
Writing /cs/labs/michall/roeizucker/SKAT_experiments/mydata_filtered.fam ...
done.
Writing /cs/labs/michall/roeizucker/SKAT_experiments/mydata_filtered.bim ...
done.
Writing /cs/labs/michall/roeizucker/SKAT_experiments/mydata_filtered.bed ...
done.
End time: Sun Jan  1 17:13:35 2023