In [1]:
# jupyter imports
from IPython.display import clear_output

In [2]:
import pandas as pd

In [3]:
FILE_TO_ADD_PATH =  '/cs/labs/michall/roeizucker/IIH/GWAS4/results/updated_Both.csv'
FILE_TO_CREATE_PATH = '/cs/labs/michall/roeizucker/IIH/GWAS4/results/updated_Both_with_genes.csv'
GENE_FILE_PATH = '/cs/labs/michall/roeizucker/virt_env_install_test/genes_hg19.csv'
WORK_ONLY_FOR_RES_VARIANTS = True

In [4]:
CHR_SYMBOL = "#CHROM"
POS_SYMBOL = "POS"
PVAL_SYMBOL = "P"

In [5]:
    # def add_genes_for_snps_symbol(df,genes_csv):
#     df_length = len(df)
#     sig_genes = set()
#     for index, row in df.iterrows():
#         if index % 1000 == 0:
#             print(f"{index}/{df_length}")
#         curr = (genes_csv.query("chr == '" + str(row[CHR_SYMBOL]) + "' and cds_start <= " + str(row[POS_SYMBOL]) + "and cds_end >= " + str(row[POS_SYMBOL])))
#         if len(list(curr["symbol"])) == 0:
#             df.loc[index,"gene"] = "no gene found"
#             df.loc[index,"length"] = -1
#         else:
#             df.loc[index,"gene_symbol"] = str(list(curr["symbol"])[0])
#             df.loc[index,"uniprot_id"] = str(list(curr["uniprot_id"])[0])
#             df.loc[index,"length"] = int(list(curr["cds_end"])[0]) - int(list(curr["cds_start"])[0])
#             df.loc[index,"name"] = str(list(curr["name"])[0])

In [6]:
def add_genes_for_snps_symbol(df,genes_csv):
    df_length = len(genes_csv)
    df["gene_symbol"] = "no_gene_found"
    df["length"] = -1
    for index, row in genes_csv.iterrows():
        if index % 100 == 0:
            clear_output(wait=True)
            print(str(int(index/df_length * 100)) + "%")
        condition = (df["#CHROM"].astype(str) == str(row['chr'])) & (df["POS"].astype(int) >= int(row["cds_start"]))  & (df["POS"].astype(int) <= int(row["cds_end"]))
        df.loc[condition, "gene_symbol"] = row["symbol"]
        df.loc[condition, "uniprot_id"] = row["uniprot_id"]
        df.loc[condition, "length"] = int( int(row["cds_end"] - row["cds_start"]))
        df.loc[condition, "name"] = row["name"]

In [7]:
df = pd.read_csv(FILE_TO_ADD_PATH)
if WORK_ONLY_FOR_RES_VARIANTS:
    df = df[df[PVAL_SYMBOL].notnull()]
genes_df = pd.read_csv(GENE_FILE_PATH)
add_genes_for_snps_symbol(df,genes_df)
df["length"] = df["length"].astype(int)
df.to_csv(FILE_TO_CREATE_PATH)

99%

In [8]:
df[df["P"] < 0.00005]

,#CHROM,POS,ID,REF,ALT,A1,TEST,OBS_CT,OR,LOG(OR)_SE,Z_STAT,P,gene_symbol,length,uniprot_id,name
5900,1,29715995,rs74622258,A,G,G,ADD,291312,4.73069,0.338802,4.58696,0.000004,no_gene_found,-1,NaN,NaN
16795,1,99012285,rs79947166,C,T,T,ADD,291312,3.19017,0.249490,4.64978,0.000003,no_gene_found,-1,NaN,NaN
19393,1,115229523,rs61738827,C,T,T,ADD,291312,6.30484,0.451099,4.08184,0.000045,AMPD1,22453,P23109,adenosine monophosphate deaminase 1
21265,1,154316453,rs140373193,C,T,T,ADD,291312,6.81018,0.449052,4.27215,0.000019,no_gene_found,-1,NaN,NaN
38088,2,1594167,rs114389557,G,A,A,ADD,291312,2.65292,0.236650,4.12279,0.000037,no_gene_found,-1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450253,20,51810033,rs117746738,T,C,C,ADD,291312,5.84220,0.384344,4.59252,0.000004,TSHZ2,283266,Q9NRE2,teashirt zinc finger homeobox 2
450256,20,51812771,rs75260806,G,A,A,ADD,291312,1.87681,0.146047,4.31078,0.000016,TSHZ2,283266,Q9NRE2,teashirt zinc finger homeobox 2
459808,21,47110072,rs76123747,C,G,G,ADD,291312,4.78318,0.360625,4.33998,0.000014,no_gene_found,-1,NaN,NaN
463367,22,34095499,rs2283930,G,A,A,ADD,291312,1.65722,0.116457,4.33757,0.000014,LARGE1,487047,O95461,LARGE xylosyl- and glucuronyltransferase 1
464388,22,38768797,rs118178495,C,T,T,ADD,291312,2.57862,0.224490,4.21959,0.000024,no_gene_found,-1,NaN,NaN

In [9]:
# df = df.drop("GENE",axis='columns')
# df.to_csv(FILE_TO_CREATE_PATH)

In [10]:
genes_df[(genes_df["chr"] == "1") & (genes_df["cds_start"] < 11253684) & (genes_df["cds_end"] > 11253684)]

,Unnamed: 0,uniprot_id,symbol,name,refseq_ids,chr,cds_start,cds_end
1467,1467,O43827,ANGPTL7,angiopoietin like 7,['NM_021146'],1,11249637,11255077
4715,4715,P42345,MTOR,mechanistic target of rapamycin kinase,['NM_004958'],1,11167545,11319466

In [11]:
df

,#CHROM,POS,ID,REF,ALT,A1,TEST,OBS_CT,OR,LOG(OR)_SE,Z_STAT,P,gene_symbol,length,uniprot_id,name
0,1,752721,rs3131972,A,G,A,ADD,291312,0.825896,0.159984,-1.195660,0.231828,no_gene_found,-1,NaN,NaN
1,1,801536,rs79373928,T,G,G,ADD,291312,0.957186,0.451429,-0.096930,0.922782,no_gene_found,-1,NaN,NaN
2,1,834830,rs116452738,G,A,A,ADD,291312,0.430095,1.001280,-0.842666,0.399415,no_gene_found,-1,NaN,NaN
3,1,835499,rs4422948,A,G,G,ADD,291312,1.047920,0.124458,0.376107,0.706838,no_gene_found,-1,NaN,NaN
4,1,838555,rs4970383,C,A,A,ADD,291312,0.954993,0.126443,-0.364203,0.715706,no_gene_found,-1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467402,22,51177257,rs73174437,C,T,T,ADD,291312,0.769573,0.321408,-0.814911,0.415123,ACR,6968,P10323,acrosin
467403,22,51183255,rs5771002,A,G,A,ADD,291312,1.070230,0.112941,0.600933,0.547885,ACR,6968,P10323,acrosin
467404,22,51185848,rs3865764,G,A,G,ADD,291312,1.030220,0.241806,0.123129,0.902005,no_gene_found,-1,NaN,NaN
467405,22,51193629,rs142680588,A,G,G,ADD,291312,0.985055,0.204022,-0.073806,0.941165,no_gene_found,-1,NaN,NaN
467406,22,51217954,rs9616974,G,A,A,ADD,291312,0.944191,0.211912,-0.270995,0.786395,RABL2B,13515,Q9UNT1,"RAB, member of RAS oncogene family like 2B"