
https://biobank.ndph.ox.ac.uk/showcase/coding.cgi?id=1001

https://biobank.ctsu.ox.ac.uk/crystal/field.cgi?id=21000

In [1]:
import pandas as pd
import os

In [15]:
PROJECT_PATH = "/cs/labs/michall/roeizucker/non_caucasian_run_2"
FILE_NAME = "ukbb_dataset_asthma.csv"
NEW_FILE_NAME = "souath_asian_ukbb_dataset.csv"
ETHNICITY_GROUP_NAME = "asian"
TESTED_PHENOTYPES = ["I10","J45"]
BACKROUNDS = ["3001","3002","3003"]
# BACKROUNDS = ["4002","4003","4001"]

In [16]:
file_path = os.path.join(PROJECT_PATH,FILE_NAME)
df = pd.read_csv(file_path)

In [17]:
# list(df.columns)

In [5]:
# 3100+360

3460

In [6]:
# df["ehtnic_background_set"].where
# def filter_fn(row):
#     print("3001" in (row['ehtnic_background_set']))
#     input()
#     if row['ehtnic_background_set']:
#         return False
#     else:
#         return True

# # df = pd.DataFrame(d, columns=['Name', 'Age', 'Score'])
# m = df.apply(filter_fn, axis=1)

In [18]:
ehtnic_contained_searies = df["ehtnic_background_set"].str.contains('|'.join(BACKROUNDS)) & ~(df["ehtnic_background_set"].str.contains(","))

# ehtnic_contained_searies
# df[ehtnic_contained_searies & ~(df["ehtnic_background_set"].str.contains(","))]

In [8]:
# df[ehtnic_contained_searies]["ehtnic_background_set"].value_counts()

In [9]:
# ehtnic_contained_searies.value_counts()

In [19]:
# TODO: add phen namesx
for phen in TESTED_PHENOTYPES:
    both_sexs_col_name = phen + "_" + ETHNICITY_GROUP_NAME
    male_sexs_col_name = phen + "_M_" + ETHNICITY_GROUP_NAME
    female_sexs_col_name = phen + "_F_" + ETHNICITY_GROUP_NAME
    df[phen + "_" + ETHNICITY_GROUP_NAME] = None
    df[phen + "_M_" + ETHNICITY_GROUP_NAME] = None
    df[phen + "_F_" + ETHNICITY_GROUP_NAME] = None
#     s.str.contains('|'.join(searchfor))
    df.loc[(ehtnic_contained_searies) & (df[phen] == 1.0), f"{phen}_{ETHNICITY_GROUP_NAME}"] = 1.0
    df.loc[(ehtnic_contained_searies) & (df[phen] == 0.0), f"{phen}_{ETHNICITY_GROUP_NAME}"] = 0.0

    df.loc[(ehtnic_contained_searies) & (df[phen+"_M"] == 1.0), f"{phen}_M_{ETHNICITY_GROUP_NAME}"] = 1.0
    df.loc[(ehtnic_contained_searies) & (df[phen+"_M"] == 0.0), f"{phen}_M_{ETHNICITY_GROUP_NAME}"] = 0.0

    df.loc[(ehtnic_contained_searies) & (df[phen+"_F"] == 1.0), f"{phen}_F_{ETHNICITY_GROUP_NAME}"] = 1.0
    df.loc[(ehtnic_contained_searies) & (df[phen+"_F"] == 0.0), f"{phen}_F_{ETHNICITY_GROUP_NAME}"] = 0.0

df.to_csv(os.path.join(PROJECT_PATH,NEW_FILE_NAME))

In [20]:
df[df["I10" ] == 1]

,sample_index,eid,I10,I10_F,I10_M,J45,J45_F,J45_M,Height,ehtnic_background,...,batch_UKBiLEVEAX_b6,batch_UKBiLEVEAX_b7,batch_UKBiLEVEAX_b8,batch_UKBiLEVEAX_b9,I10_asian,I10_M_asian,I10_F_asian,J45_asian,J45_M_asian,J45_F_asian
2,2,5503073,1.0,NaN,1.0,0.0,NaN,0.0,184.0,1001.0,...,0.0,0.0,0.0,0.0,None,None,None,None,None,None
3,3,2563626,1.0,NaN,1.0,0.0,NaN,0.0,167.0,1001.0,...,0.0,0.0,0.0,0.0,None,None,None,None,None,None
9,11,5761858,1.0,NaN,1.0,0.0,NaN,0.0,177.0,1001.0,...,0.0,0.0,0.0,0.0,None,None,None,None,None,None
13,16,1110672,1.0,NaN,1.0,1.0,NaN,1.0,176.0,1001.0,...,0.0,0.0,0.0,1.0,None,None,None,None,None,None
15,18,3051770,1.0,NaN,1.0,0.0,NaN,0.0,173.0,1001.0,...,0.0,0.0,0.0,0.0,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400714,502500,3814605,1.0,1.0,NaN,0.0,0.0,NaN,164.0,1003.0,...,0.0,0.0,0.0,0.0,None,None,None,None,None,None
400717,502505,2031201,1.0,1.0,NaN,0.0,0.0,NaN,142.0,3001.0,...,0.0,0.0,0.0,0.0,1.0,None,1.0,0.0,None,0.0
400718,502506,5637969,1.0,NaN,1.0,0.0,NaN,0.0,177.0,1001.0,...,0.0,0.0,0.0,0.0,None,None,None,None,None,None
400725,502513,2243883,1.0,NaN,1.0,0.0,NaN,0.0,169.0,1001.0,...,0.0,0.0,0.0,0.0,None,None,None,None,None,None
400728,502517,3118989,1.0,1.0,NaN,0.0,0.0,NaN,157.0,1001.0,...,0.0,0.0,0.0,0.0,None,None,None,None,None,None

In [21]:
print("new file:\t",os.path.join(PROJECT_PATH,NEW_FILE_NAME))

new file:	 /cs/labs/michall/roeizucker/non_caucasian_run_2/souath_asian_ukbb_dataset.csv

In [33]:
df[(df["J45_african"] == 1) | (df["J45_african"] == 0)]

,sample_index,eid,I10,I10_F,I10_M,J45,J45_F,J45_M,Height,ehtnic_background,...,batch_UKBiLEVEAX_b6,batch_UKBiLEVEAX_b7,batch_UKBiLEVEAX_b8,batch_UKBiLEVEAX_b9,I10_african,I10_M_african,I10_F_african,J45_african,J45_M_african,J45_F_african
126,160,2607575,0.0,0.0,NaN,1.0,1.0,NaN,164.0,4001.0,...,0.0,0.0,0.0,0.0,0,None,0,1,None,1
152,198,3746025,1.0,NaN,1.0,0.0,NaN,0.0,179.0,4001.0,...,0.0,0.0,0.0,0.0,1,1,None,0,0,None
231,299,1775220,1.0,NaN,1.0,0.0,NaN,0.0,163.0,4002.0,...,0.0,0.0,0.0,0.0,1,1,None,0,0,None
251,320,4074910,0.0,0.0,NaN,0.0,0.0,NaN,164.5,4002.0,...,0.0,0.0,0.0,0.0,0,None,0,0,None,0
254,324,4502358,0.0,0.0,NaN,0.0,0.0,NaN,164.0,4002.0,...,0.0,0.0,0.0,0.0,0,None,0,0,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400281,501975,2120154,0.0,0.0,NaN,1.0,1.0,NaN,161.0,4001.0,...,0.0,0.0,0.0,0.0,0,None,0,1,None,1
400530,502273,5166996,0.0,NaN,0.0,0.0,NaN,0.0,173.0,4002.0,...,0.0,0.0,0.0,0.0,0,0,None,0,0,None
400581,502334,3872482,0.0,0.0,NaN,0.0,0.0,NaN,167.0,4003.0,...,0.0,0.0,0.0,0.0,0,None,0,0,None,0
400639,502405,5595712,0.0,NaN,0.0,0.0,NaN,0.0,171.0,4001.0,...,0.0,0.0,0.0,0.0,0,0,None,0,0,None
400657,502428,1712232,0.0,NaN,0.0,0.0,NaN,0.0,170.0,4001.0,...,0.0,0.0,0.0,0.0,0,0,None,0,0,None

In [11]:
print(len(df[df["J45_african"] == 0]))
print(len(df[df["J45_african"] == 1]))

5019
591