In [2]:
import pandas as pd
import numpy as np

In [49]:
frame = pd.read_csv("/cs/labs/michall/roeizucker/lior_run/ukbb_dataset.csv")
print("done")

done

In [50]:
print(frame)

        sample_index      eid  parkinson date_G20_first_reported  \
0                  0  5895328        0.0                     NaN
1                  1  5764375        0.0                     NaN
2                  2  5503073        0.0                     NaN
3                  3  2563626        0.0                     NaN
4                  4  4980832        0.0                     NaN
...              ...      ...        ...                     ...
333410        502513  2243883        0.0                     NaN
333411        502515  3570729        0.0                     NaN
333412        502516  1663456        0.0                     NaN
333413        502517  3118989        0.0                     NaN
333414        502519  4573284        0.0                     NaN

        year_of_birth  const  sex  year_of_birth.1       PC1       PC2  ...  \
0                 NaN    1.0  1.0           1942.0 -12.53270  4.235220  ...
1                 NaN    1.0  0.0           1951.0 -12.33790  3.061120  ...
2                 NaN    1.0  1.0           1944.0 -11.85050  5.194030  ...
3                 NaN    1.0  1.0           1950.0 -11.97490  3.477800  ...
4                 NaN    1.0  1.0           1948.0  -8.73549  4.980050  ...
...               ...    ...  ...              ...       ...       ...  ...
333410            NaN    1.0  1.0           1949.0 -13.83960  6.899070  ...
333411            NaN    1.0  1.0           1955.0 -15.15060  5.265920  ...
333412            NaN    1.0  1.0           1941.0 -11.59990  2.911470  ...
333413            NaN    1.0  0.0           1942.0 -13.72620  0.917067  ...
333414            NaN    1.0  0.0           1950.0 -12.71160  1.226900  ...

        batch_UKBiLEVEAX_b1  batch_UKBiLEVEAX_b10  batch_UKBiLEVEAX_b11  \
0                         0                     0                     0
1                         0                     0                     0
2                         0                     0                     0
3                         0                     0                     0
4                         0                     0                     0
...                     ...                   ...                   ...
333410                    0                     0                     0
333411                    0                     0                     0
333412                    0                     0                     0
333413                    0                     0                     0
333414                    0                     0                     0

        batch_UKBiLEVEAX_b3  batch_UKBiLEVEAX_b4  batch_UKBiLEVEAX_b5  \
0                         0                    0                    0
1                         0                    0                    0
2                         0                    0                    0
3                         0                    0                    0
4                         0                    0                    0
...                     ...                  ...                  ...
333410                    0                    0                    0
333411                    0                    0                    0
333412                    0                    0                    0
333413                    0                    0                    0
333414                    0                    0                    0

        batch_UKBiLEVEAX_b6  batch_UKBiLEVEAX_b7  batch_UKBiLEVEAX_b8  \
0                         0                    0                    0
1                         0                    0                    0
2                         0                    0                    0
3                         0                    0                    0
4                         0                    0                    0
...                     ...                  ...                  ...
333410                    0                    0                    0
333411                    0                    0                    0
333412                    0                    0                    0
333413                    0                    0                    0
333414                    0                    0                    0

        batch_UKBiLEVEAX_b9
0                         0
1                         0
2                         0
3                         0
4                         0
...                     ...
333410                    0
333411                    0
333412                    0
333413                    0
333414                    0

[333415 rows x 178 columns]

In [51]:
frame["date_G20_year_reported"] = frame["date_G20_first_reported"].str.split(pat="-",expand=True)[0]
# str.split(pat="/")
print("done")

done

In [29]:
filtered_frame = frame[frame['date_G20_year_reported'].notna()]
filtered_frame = filtered_frame[filtered_frame['parkinson'] == 1.0]
# frame["year_of_birth.1"] - frame["date_G20_year_reported"].astype(int)
# filtered_frame
print("done")

done

In [33]:
filtered_frame["age_G20_reported"] = filtered_frame["date_G20_year_reported"].astype(int) - filtered_frame["year_of_birth.1"]

In [43]:
filtered_frame["G20_early"] = (filtered_frame["age_G20_reported"] <= 50).astype(int)
print("done")

done

In [46]:
list(filtered_frame["G20_early"]).count(0)

1220

In [56]:
filtered_frame["arbitrary_group"] = 0

In [63]:
for i in range(len(filtered_frame)):
    if i%2 == 0:
        filtered_frame.iloc[i, filtered_frame.columns.get_loc('arbitrary_group')] = 1

In [64]:
print(filtered_frame)

        sample_index      eid  parkinson date_G20_first_reported  \
227              388  2800824        1.0              1999-07-01
314              521  1317890        1.0              1993-07-01
444              721  5409540        1.0              2012-03-28
509              816  1436109        1.0              2004-07-01
625              998  1603818        1.0              2016-04-09
...              ...      ...        ...                     ...
331980        500379  1265907        1.0              2007-07-01
332019        500437  3613227        1.0              2006-07-01
332432        501053  2099584        1.0              2015-07-29
332583        501269  1844779        1.0              2017-01-16
333224        502231  1710633        1.0              2011-05-19

        year_of_birth  const  sex  year_of_birth.1       PC1      PC2  ...  \
227               NaN    1.0  1.0           1944.0 -14.92580  5.91815  ...
314               NaN    1.0  1.0           1948.0 -10.85520  3.53442  ...
444               NaN    1.0  1.0           1938.0 -13.65560  3.89147  ...
509               NaN    1.0  1.0           1954.0  -9.94786  1.45013  ...
625               NaN    1.0  1.0           1944.0 -10.39880  1.62159  ...
...               ...    ...  ...              ...       ...      ...  ...
331980            NaN    1.0  1.0           1939.0 -11.23950  4.53686  ...
332019            NaN    1.0  1.0           1944.0 -12.19760  2.96393  ...
332432            NaN    1.0  1.0           1940.0 -11.40470  4.58010  ...
332583            NaN    1.0  0.0           1939.0 -16.12870  5.36866  ...
333224            NaN    1.0  0.0           1954.0 -13.05210  6.38511  ...

        batch_UKBiLEVEAX_b4  batch_UKBiLEVEAX_b5  batch_UKBiLEVEAX_b6  \
227                       0                    0                    0
314                       0                    0                    0
444                       0                    0                    0
509                       0                    0                    0
625                       0                    0                    0
...                     ...                  ...                  ...
331980                    0                    0                    0
332019                    0                    0                    0
332432                    0                    0                    0
332583                    0                    0                    0
333224                    0                    0                    0

        batch_UKBiLEVEAX_b7  batch_UKBiLEVEAX_b8  batch_UKBiLEVEAX_b9  \
227                       0                    0                    0
314                       0                    0                    0
444                       0                    0                    0
509                       0                    0                    0
625                       0                    0                    0
...                     ...                  ...                  ...
331980                    0                    0                    0
332019                    0                    0                    0
332432                    0                    0                    0
332583                    0                    0                    0
333224                    0                    0                    0

        date_G20_year_reported  age_G20_reported  G20_early  arbitrary_group
227                       1999              55.0          0                1
314                       1993              45.0          1                0
444                       2012              74.0          0                1
509                       2004              50.0          1                0
625                       2016              72.0          0                1
...                        ...               ...        ...              ...
331980                    2007              68.0          0                1
332019                    2006              62.0          0                0
332432                    2015              75.0          0                1
332583                    2017              78.0          0                0
333224                    2011              57.0          0                1

[1333 rows x 182 columns]

In [65]:
filtered_frame.to_csv("/cs/labs/michall/roeizucker/lior_run/ukbb_dataset_filtered.csv")
print("done")

done

In [67]:
very_filtered_frame = filtered_frame.copy()
print("done")

done

In [72]:
very_filtered_frame["keep"] = filtered_frame["G20_early"]
print("done")

done

In [97]:
ids_to_set = list(very_filtered_frame[very_filtered_frame['keep'] == 0].sample(113)['sample_index'])
for i in range(len(very_filtered_frame)):
    if (very_filtered_frame.iloc[i,very_filtered_frame.columns.get_loc('sample_index')] in ids_to_set):
        very_filtered_frame.iloc[i,very_filtered_frame.columns.get_loc('keep')] = 1
print("done")

done

In [99]:
very_filtered_frame = very_filtered_frame[very_filtered_frame['keep'] == 1]
print("done")

done

In [102]:
very_filtered_frame.to_csv("/cs/labs/michall/roeizucker/lior_run/ukbb_dataset_random_late.csv")
print("done")

done

In [104]:
new_large_frame = frame.copy()
print("done")

done

In [105]:
print(new_large_frame)

        sample_index      eid  parkinson date_G20_first_reported  \
0                  0  5895328        0.0                     NaN
1                  1  5764375        0.0                     NaN
2                  2  5503073        0.0                     NaN
3                  3  2563626        0.0                     NaN
4                  4  4980832        0.0                     NaN
...              ...      ...        ...                     ...
333410        502513  2243883        0.0                     NaN
333411        502515  3570729        0.0                     NaN
333412        502516  1663456        0.0                     NaN
333413        502517  3118989        0.0                     NaN
333414        502519  4573284        0.0                     NaN

        year_of_birth  const  sex  year_of_birth.1       PC1       PC2  ...  \
0                 NaN    1.0  1.0           1942.0 -12.53270  4.235220  ...
1                 NaN    1.0  0.0           1951.0 -12.33790  3.061120  ...
2                 NaN    1.0  1.0           1944.0 -11.85050  5.194030  ...
3                 NaN    1.0  1.0           1950.0 -11.97490  3.477800  ...
4                 NaN    1.0  1.0           1948.0  -8.73549  4.980050  ...
...               ...    ...  ...              ...       ...       ...  ...
333410            NaN    1.0  1.0           1949.0 -13.83960  6.899070  ...
333411            NaN    1.0  1.0           1955.0 -15.15060  5.265920  ...
333412            NaN    1.0  1.0           1941.0 -11.59990  2.911470  ...
333413            NaN    1.0  0.0           1942.0 -13.72620  0.917067  ...
333414            NaN    1.0  0.0           1950.0 -12.71160  1.226900  ...

        batch_UKBiLEVEAX_b10  batch_UKBiLEVEAX_b11  batch_UKBiLEVEAX_b3  \
0                          0                     0                    0
1                          0                     0                    0
2                          0                     0                    0
3                          0                     0                    0
4                          0                     0                    0
...                      ...                   ...                  ...
333410                     0                     0                    0
333411                     0                     0                    0
333412                     0                     0                    0
333413                     0                     0                    0
333414                     0                     0                    0

        batch_UKBiLEVEAX_b4  batch_UKBiLEVEAX_b5  batch_UKBiLEVEAX_b6  \
0                         0                    0                    0
1                         0                    0                    0
2                         0                    0                    0
3                         0                    0                    0
4                         0                    0                    0
...                     ...                  ...                  ...
333410                    0                    0                    0
333411                    0                    0                    0
333412                    0                    0                    0
333413                    0                    0                    0
333414                    0                    0                    0

        batch_UKBiLEVEAX_b7  batch_UKBiLEVEAX_b8  batch_UKBiLEVEAX_b9  \
0                         0                    0                    0
1                         0                    0                    0
2                         0                    0                    0
3                         0                    0                    0
4                         0                    0                    0
...                     ...                  ...                  ...
333410                    0                    0                    0
333411                    0                    0                    0
333412                    0                    0                    0
333413                    0                    0                    0
333414                    0                    0                    0

        date_G20_year_reported
0                          NaN
1                          NaN
2                          NaN
3                          NaN
4                          NaN
...                        ...
333410                     NaN
333411                     NaN
333412                     NaN
333413                     NaN
333414                     NaN

[333415 rows x 179 columns]

In [106]:
new_large_frame["G20_early"] = ""
print(new_large_frame)

        sample_index      eid  parkinson date_G20_first_reported  \
0                  0  5895328        0.0                     NaN
1                  1  5764375        0.0                     NaN
2                  2  5503073        0.0                     NaN
3                  3  2563626        0.0                     NaN
4                  4  4980832        0.0                     NaN
...              ...      ...        ...                     ...
333410        502513  2243883        0.0                     NaN
333411        502515  3570729        0.0                     NaN
333412        502516  1663456        0.0                     NaN
333413        502517  3118989        0.0                     NaN
333414        502519  4573284        0.0                     NaN

        year_of_birth  const  sex  year_of_birth.1       PC1       PC2  ...  \
0                 NaN    1.0  1.0           1942.0 -12.53270  4.235220  ...
1                 NaN    1.0  0.0           1951.0 -12.33790  3.061120  ...
2                 NaN    1.0  1.0           1944.0 -11.85050  5.194030  ...
3                 NaN    1.0  1.0           1950.0 -11.97490  3.477800  ...
4                 NaN    1.0  1.0           1948.0  -8.73549  4.980050  ...
...               ...    ...  ...              ...       ...       ...  ...
333410            NaN    1.0  1.0           1949.0 -13.83960  6.899070  ...
333411            NaN    1.0  1.0           1955.0 -15.15060  5.265920  ...
333412            NaN    1.0  1.0           1941.0 -11.59990  2.911470  ...
333413            NaN    1.0  0.0           1942.0 -13.72620  0.917067  ...
333414            NaN    1.0  0.0           1950.0 -12.71160  1.226900  ...

        batch_UKBiLEVEAX_b11  batch_UKBiLEVEAX_b3  batch_UKBiLEVEAX_b4  \
0                          0                    0                    0
1                          0                    0                    0
2                          0                    0                    0
3                          0                    0                    0
4                          0                    0                    0
...                      ...                  ...                  ...
333410                     0                    0                    0
333411                     0                    0                    0
333412                     0                    0                    0
333413                     0                    0                    0
333414                     0                    0                    0

        batch_UKBiLEVEAX_b5  batch_UKBiLEVEAX_b6  batch_UKBiLEVEAX_b7  \
0                         0                    0                    0
1                         0                    0                    0
2                         0                    0                    0
3                         0                    0                    0
4                         0                    0                    0
...                     ...                  ...                  ...
333410                    0                    0                    0
333411                    0                    0                    0
333412                    0                    0                    0
333413                    0                    0                    0
333414                    0                    0                    0

        batch_UKBiLEVEAX_b8  batch_UKBiLEVEAX_b9  date_G20_year_reported  \
0                         0                    0                     NaN
1                         0                    0                     NaN
2                         0                    0                     NaN
3                         0                    0                     NaN
4                         0                    0                     NaN
...                     ...                  ...                     ...
333410                    0                    0                     NaN
333411                    0                    0                     NaN
333412                    0                    0                     NaN
333413                    0                    0                     NaN
333414                    0                    0                     NaN

        G20_early
0
1
2
3
4
...           ...
333410
333411
333412
333413
333414

[333415 rows x 180 columns]

In [113]:
# new_large_frame["year_of_birth"] = filtered_frame["G20_early"]
new_large_frame["year_of_birth"] = filtered_frame["arbitrary_group"]
# new_large_frame["same_sample_size"] = filtered_frame["G20_early"]
new_large_frame.to_csv("/cs/labs/michall/roeizucker/lior_run/ukbb_dataset_large_frame.csv")

print("done")

done

In [109]:
print(new_large_frame)

        sample_index      eid  parkinson date_G20_first_reported  \
0                  0  5895328        0.0                     NaN
1                  1  5764375        0.0                     NaN
2                  2  5503073        0.0                     NaN
3                  3  2563626        0.0                     NaN
4                  4  4980832        0.0                     NaN
...              ...      ...        ...                     ...
333410        502513  2243883        0.0                     NaN
333411        502515  3570729        0.0                     NaN
333412        502516  1663456        0.0                     NaN
333413        502517  3118989        0.0                     NaN
333414        502519  4573284        0.0                     NaN

        year_of_birth  const  sex  year_of_birth.1       PC1       PC2  ...  \
0                 NaN    1.0  1.0           1942.0 -12.53270  4.235220  ...
1                 NaN    1.0  0.0           1951.0 -12.33790  3.061120  ...
2                 NaN    1.0  1.0           1944.0 -11.85050  5.194030  ...
3                 NaN    1.0  1.0           1950.0 -11.97490  3.477800  ...
4                 NaN    1.0  1.0           1948.0  -8.73549  4.980050  ...
...               ...    ...  ...              ...       ...       ...  ...
333410            NaN    1.0  1.0           1949.0 -13.83960  6.899070  ...
333411            NaN    1.0  1.0           1955.0 -15.15060  5.265920  ...
333412            NaN    1.0  1.0           1941.0 -11.59990  2.911470  ...
333413            NaN    1.0  0.0           1942.0 -13.72620  0.917067  ...
333414            NaN    1.0  0.0           1950.0 -12.71160  1.226900  ...

        batch_UKBiLEVEAX_b11  batch_UKBiLEVEAX_b3  batch_UKBiLEVEAX_b4  \
0                          0                    0                    0
1                          0                    0                    0
2                          0                    0                    0
3                          0                    0                    0
4                          0                    0                    0
...                      ...                  ...                  ...
333410                     0                    0                    0
333411                     0                    0                    0
333412                     0                    0                    0
333413                     0                    0                    0
333414                     0                    0                    0

        batch_UKBiLEVEAX_b5  batch_UKBiLEVEAX_b6  batch_UKBiLEVEAX_b7  \
0                         0                    0                    0
1                         0                    0                    0
2                         0                    0                    0
3                         0                    0                    0
4                         0                    0                    0
...                     ...                  ...                  ...
333410                    0                    0                    0
333411                    0                    0                    0
333412                    0                    0                    0
333413                    0                    0                    0
333414                    0                    0                    0

        batch_UKBiLEVEAX_b8  batch_UKBiLEVEAX_b9  date_G20_year_reported  \
0                         0                    0                     NaN
1                         0                    0                     NaN
2                         0                    0                     NaN
3                         0                    0                     NaN
4                         0                    0                     NaN
...                     ...                  ...                     ...
333410                    0                    0                     NaN
333411                    0                    0                     NaN
333412                    0                    0                     NaN
333413                    0                    0                     NaN
333414                    0                    0                     NaN

        G20_early
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
333410        NaN
333411        NaN
333412        NaN
333413        NaN
333414        NaN

[333415 rows x 180 columns]